<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.whichweek" version="0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>WhichWeek</name>
  <description>
    An weeks calendar
  </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
    DOK team
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <preference name="FadeSplashScreen" value="false" />
  <preference name="StatusBarOverlaysWebView" value="false"/>
  <preference name="StatusBarStyle" value="default" />
  <preference name="StatusBarShow" value="false" />
  <preference name="fullscreen" value="true" />
  <preference name="orientation" value="portrait" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>